@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration-color: #0a0a0a;
}

@layer components {
  .nav-link{
    @apply text-sm font-medium uppercase text-neutral-950 hover:text-indigo-600 transition-all duration-300;
  }

  .resume-btn{
    @apply bg-black text-white text-sm uppercase px-4 py-2 rounded-md
            hover:-translate-y-0.5 hover:shadow-md hover:text-indigo-400
            transition-all duration-200;
  }
}