name: CI

on:
  push:
    branches:[main]
  pull_request:

jobs:
  build:
    runs_on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-versions: 20
      
      - name: Install dependencies
        run: npm Install

      - name: Build
        run: npm run build